@import "variables";
$colorTexto: #1A5276 ;
.row {
    background-color:#80DEEA;
    color: $colorTexto;
    div {
        border: solid 3px $colorPrincipal;
        h2 {
            text-decoration: underline;
        }
    }
}


   div {
    $colorHover: #80DEEA;
    background-color: white;
    .btn {
        background-color: $colorPrincipal;
        &:hover {
            background-color: $colorHover;
            color: $colorTexto;
        }
    }
}

